:root {
  --background-color: floralwhite;
  --text-color: black;
  --border-color: black;
  --button-background-color: violet;
  --button-text-color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-color);
}

body {
  background-color: var(--background-color);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 1rem;
}
